%h1= link_to 'Yong Joseph Bakos', '/'
%h2 / research

%p.subtitle <em class="os">0S</em> is a new paradigm for end-user computing.

.summary
  .summary_topic
    .topic
      ideas
    .description
      the problem <br>
      the solution <br>
      read more
  .summary_topic
    .topic
      prototypes
    .description
      current <br>
      best <br>
      all prototypes
  .summary_topic
    .topic
      experiments
    .description
      experiment a3j76 <br>
      experiment c64d3 <br>
      all experiments
  .summary_topic
    .topic
      publications
    .description
      paper 1 <br>
      paper 2 <br>
      all publications
  .summary_topic
    .topic
      product
    .description
      dream <br>
      on <br>
      kid
