%h1 Yong Joseph Bakos
%h2 I write software and I teach.
%ul
  %li= link_to 'teaching', 'https://engineering.oregonstate.edu/people/yong-bakos', :title => 'Yong Bakos, Oregon State University Computer Science'
  %li= link_to 'research', 'research/', :title => '0S, a new paradigm for end-user computing'
  %li= link_to 'code', 'http://github.com/ybakos', :title => 'Yong Bakos on GitHub'
  %li= link_to 'play', 'music', :title => 'Musicianship'
