%h1
  Yong Joseph Bakos
  = link_to 'work', 'http://humanoriented.com', :title => 'Human-Oriented Systems'
  = link_to 'teach', 'http://inside.mines.edu/~ybakos', :title => 'Yong Bakos, Teaching Assistant Professor, Colorado School of Mines'
  = link_to 'code', 'http://github.com/ybakos', :title => 'Yong Bakos on GitHub'
  = link_to 'play', '#', :title => 'Musicianship'
