%h1= link_to 'Yong Joseph Bakos', '/'
%h2 / music

%p.subtitle Recordings from bands, where I lay down the vintage keys.

.summary
  .summary_topic
    .topic
      jazz
    .description
      rec <br>
      rec <br>
      rec
  .summary_topic
    .topic
      acid
    .description
      rec <br>
      rec <br>
      rec
  .summary_topic
    .topic
      psych rock
    .description
      rec <br>
      rec <br>
      rec
  .summary_topic
    .topic
      dub
    .description
      rec <br>
      rec <br>
      rec
