%h1 Currently out back, woodshedding in Dallas.

%p I play the keys, particularly of the 70s vintage (Rhodes, Wurly, Clav, B3, and piano). I love to get funky, and try to melt faces.
%p I'm a multi-instrumentalist. Drums, bass, rhythm guitar, and vocals.
%p I'm into all styles, except metal.
%p I'd love to practice, jam and work with other Dallas musicians. I have a rehearsal space in Deep Ellum.

%p Here's a few sample recordings


%h2 Recordings
%p Mar 28 '14: Getting these uploaded...
%h3 Jazz (trad)

%h3 Jazz (acid)

%h3 Dub

%h3 Rock (Psychedelic)
